body {
    background-color: yellow;
    color: black;
    font-family: arial;
    font-size: 18pt;
    background-size: 100%;
}

body:hover {
    background-color: cyan;
    color: brown;
    font-family: arial;
    font-size: 18pt;
    background-size: 100%;
}
